html {
  box-sizing: border-box;
}

:root {
  --color-primary-text: #212121;
  --color-secondary-text: #757575;
  --color-accent-text: #2196f3;
  --color-logo-text: #000000;
  --color-white-text: #ffffff;
  --color-link-text: rgba(255, 255, 255, 0.6);
  --color-primary-background: #ffffff;
  --color-secondary-background: #f5f4fa;
  --hero-background-color: #c4c4c4;
  --color-accent-background: #2196f3;
  --color-footer-background: #2f303a;
  --color-hero-button-background: #188ce8;
  --shadow-bottom-first-color: rgba(0, 0, 0, 0.1);
  --shadow-bottom-second-color: rgba(0, 0, 0, 0.08);
  --shadow-bottom-third-color: rgba(0, 0, 0, 0.12);
  --cellar-link-background-color: rgba(255, 255, 255, 0.1);
  --portfolio-border-elements-color: #eeeeee;
  --border-bottom-header-color: #ececec;
  --color-link: #afb1b8;
  --gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  --button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --portfolio-elements-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --button-shadow-hero: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.one-header {
  border-bottom: 1px solid #ececec;
  width: 1200px;
  align-items: center;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--color-primary-text);
  background-color: var(--color-primary-background);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.picture-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  align-items: center;
  max-width: 1600px;
}


.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-logo-text);
}

.logo-web {
  color: var(--color-accent-text);
}

.logo-basement {
  color: var(--color-white-text);
}

.button-portfolio {
  display: inline-block;
  border: 0px solid transparent;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
  min-width: 73px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-family: inherit;
  cursor: pointer;
  color: var(--color-primary-text);
  background-color: var(--color-secondary-background);
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--color-white-text);
  background-color: var(--color-accent-background);
  box-shadow: 0px 3px 1px var(--shadow-bottom-first-color),
    0px 1px 2px var(--shadow-bottom-second-color),
    0px 2px 2px var(--shadow-bottom-third-color);
}

.nav-list,
.auth-list {
  display: flex;
  margin: 0;
  padding: 0;
}


.nav-header {
  margin-left: 93px;
}

.auth-list {
  margin-left: auto;
}

.nav-list .item:not(:last-child),
.auth-list .item:not(:last-child) {
  margin-right: 50px;
}

.item:nth-last-child {
  margin-right: 0;
}

.nav-list .item:not(:last-child),
.auth-list .item:not(:last-child) {
  margin-right: 50px;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-primary-text);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--color-accent-text);
}

.link-current {
  color: var(--color-accent-text);
}

.fone-logo-link {
  display: flex;  
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-secondary-text);
}

.icon-logo {
  margin-right: 10px;
  display: flex;
  color: var(--color-secondary-text);
}

.fone-logo-link:hover .icon-logo,
.fone-logo-link:focus .icon-logo {
  color: var(--color-secondary-text);
}

.fone-mail-svg {
  margin-right: 10px;
  fill: var(--c);
}


.picture-team {
  display: flex;
  background-color: var(--color-primary-background);
  box-shadow: var(--card-shadow);
  width: 100%;
}

.hero {
  background-color: var(--color-footer-background);
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
}

.overlay {
  display: block;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ), url(..//images/overlay.jpg)
}


.hero-title {
  display: inline-block;
  width: 700px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white-text);
}

.button-hero {
  display: block;
  border: 0px solid transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  min-width: 216px;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: none;
  color: var(--color-white-text);
  background-color: var(--color-hero-button-background);
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--color-accent-text);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  display: flex;
  justify-content: space-between;
}

.hero-section {
  padding: 94px 0;
}

.list-preference {
  display: flex;
}

.list-preference .item {
  width: 270px;
  margin-right: 30px;
  margin: 0;
  padding: 0;
}


.list-preference .item-preference {
  width: 270px;
  margin-right: 30px;
}

.item-preference:nth-last-child(1) {
  margin-right: 0px;
}

.list-preference .item:not(:last-child) {
  margin-right: 30px;
}


.hero-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.icon-preference {
  display: flex;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}

.subtitle-preference {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.item-preference {
  width: calc((100% - 90px) / 4);
}

.item-preference:not(:last-child) {
  margin-right: 30px;
}

.text-preference {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-secondary-text);
}

.section-title {
  display: block;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.action {
  padding-bottom: 94px;
}

.list-action {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list-action .item:not(:last-child) {
  margin-right: 30px;
}

.subtitle-team {
  display: block;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.text-team {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--color-secondary-text);
}

.item-team {
  padding: 30px;
}

.team {
  background-color: var(--color-secondary-background);
  padding-top: 94px;
  padding-bottom: 94px;
  max-width: 1600px;
  display: block;
  align-items: center;
  justify-content: center;
  background-position: center;
  margin: 0 auto;
}

.card-team {
  background-color: var(--color-primary-background);
}

.card-team:not(:last-child) {
  margin-right: 30px;
}

.list-team {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.picture-items {
  width: calc((100%-90) / 4);
  background-color: var(--color-primary-background);
  box-shadow: var(--card-shadow);
  border-radius: 0px 0px 4px 4px;
  list-style: none;
}

.picture-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.picture-icons {
  display: block;
  fill: var(--color-link);
}

.picture-icons:hover,
.picture-icons:focus {
  background-color: var(--color-accent-text);
}


.picture-link:hover,
.picture-link:focus {
  background-color: var(--color-accent-text)
}

.picture-link:hover .picture-icons,
.picture-link:focus .picture-icons {
  fill: var(--color-accent-text);
}

.basement {
  background-color: var(--color-footer-background);
  padding: 60px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  width: 1600px;
  margin: 0 auto;
}

.basement-container {
  display: flex;
  align-items: baseline;
}

.logo-basement {
  display: flex;
  margin-bottom: 20px;
  text-decoration: none;

}

.basement-nav {
  margin-bottom: 0;
  padding-left: 0;
  padding-bottom: 9px;
}

.item {
  display: block;
}

.basement-nav .item {
  margin-bottom: 9px;
}
.basement-nav:nth-last-child(-n + 1) {
  margin-bottom: 0px;
}

.addres-basemant {
  margin-top: 20px;
}

.basement-nav .item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-white-text);
}

.address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-link-text);
}

.address-link:hover,
.address-link:focus {
  color: var(--color-accent-text);
}

.main {
  padding-top: 94px;
  padding-bottom: 94px;
}

.subtitle-portfolio {
  display: block;
  margin-top: 0;
  margin-bottom: 4px;
  margin-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-primary-text);
}

.text-portfolio {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-secondary-text);
}

.button-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
  justify-content: center;
}

.button-list .item:not(:last-child) {
  margin-right: 8px;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  color: rgba(33, 33, 33, 1);
}

.portfolio-elements {
  width: 370px;
}

.portfolio-elements:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-elements:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.card-portfolio {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-top: 0;
}

.subtitle {
  display: block;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--color-primary-text);
}

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
  display: block;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
}

.customers-list {
  display: flex;
  gap: 30px;
}

.customers-item {
  width: calc((100% - 30px) / 6);
  list-style: none;
}
.customers-link {
  width: 100%;
  height: 92px;
  border: 1px solid var(--color-link);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: var(--color-link);
}

.customers-icon {
  fill: currentColor;
  margin-right: 30px;
}

.customers-link:hover {
  border-color: var(--color-accent-text);
  color: var(--color-accent-text);
}
.customers-link:focus {
  border-color: var(--color-accent-text);
  color: var(--color-accent-text);
}

.basement-social {
  margin-left: 70px;
}

.basement-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-white-text);
  text-align: center;
}

.basement-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.basement-icon {
  fill: var(--color-white-text);
}

.basement-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--cellar-link-background-color);
}

.basement-link:hover,
.basement-link:focus {
  background-color: var(--color-accent-text);
}